.host {
  background-image: linear-gradient(to bottom, rgba(14, 14, 14, 0), rgba(14, 14, 14, 1));
  background-size: 1px 45px;
  background-position: 0 7px;
  background-repeat: repeat-x;
  border-bottom: 1px solid #323232;
  list-style: none;
  padding: 0;
  margin: 0;
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}
.tab {
  display: block;
  float: left;
  margin-bottom: -1px;
  &:first-child {
    margin-left: 11px;
  }
  >button {
    color: #B0B0B0;
    display: block;
    margin: 0;
    font-size: 1.2rem;
    padding: 7px 15px;
    border-radius: 4px 4px 0 0;
    border: 0;
    background: transparent;
    cursor: pointer;
    &:hover {
      color: #E88319;
    }
  }
  &.active > button {
    background: #1E1E1E;
    background-image: linear-gradient(to bottom, #282828, #1E1E1E);
    border: 1px solid #323232;
    border-bottom: none;
    color: #E88319;
    font-size: 1.3rem;
    padding: 7px 11px;
  }
}
