.list {
	list-style: none;
	display: block;
	padding: 0;
	margin: -6px 0 0 -6px;
	&:after {
		content: '';
		display: table;
		clear: both;
	}
}
.item {
	font-size: 11px;
	display: block;
	float: left;
	margin: 6px 0 0 6px;
	padding: 4px 4px 4px 8px;
	background: #2B2B2B;
	position: relative;
	white-space: nowrap;
	border-radius: 15px;
	box-shadow: 0 0 1px #000;
  cursor: default;
	&:hover {
		background: #454545;
	}
}
.icon {
  font-size: 10px;
  color: #4D4D4D;
  display: inline-block;
  line-height: 1;
  padding-top: 4px;
  vertical-align: middle;
  @at-root .item:hover & {
    color: #818181;
  }
  > svg {
    height: 1em;
  }
}
.text {
	display: inline-block;
	max-width: 170px;
	overflow: hidden;
	text-overflow: ellipsis;
	margin: 0 0 0 5px;
	white-space: nowrap;
	vertical-align: middle;
	font-size: 14px;
  color: #94C688;
	@at-root .sketchy & {
    color: #CDC200;
  }
	@at-root .nsfw & {
    color: #d37373
  }
}
.delete {
	display: inline-block;
  cursor: pointer;
  padding: 2px 6px 0 4px;
  text-decoration: none;
  font-size: 15px;
  vertical-align: middle;
  line-height: 0;
  height: 16px;
  color: #4d4d4d;
  @at-root .item:hover & {
    color: #818181;
  }
  @at-root .item:hover &:hover, &:hover {
		text-decoration: none;
		color: #dedede;
	}
  > svg {
    height: 1em;
  }
}
