.list {
	list-style: none;
	display: block;
	padding: 0;
	margin: -6px 0 0 -6px;
	&:after {
		content: '';
		display: table;
		clear: both;
	}
}
.item {
	font-size: 11px;
	display: block;
	float: left;
	margin: 6px 0 0 6px;
	padding: 4px 4px 4px 8px;
	background: #2B2B2B;
	position: relative;
	white-space: nowrap;
	border-radius: 15px;
	box-shadow: 0 0 1px #000;
	&:hover {
		background: #575757;
	}
	&.sfw {}
	&.sketchy {}
	&.nsfw {}
}
.icon {
  font-size: 10px;
  color: #4D4D4D;
  display: inline-block;
  @at-root .item:hover & {
    color: #818181;
  }
  > svg {
    height: 1em;
  }
}
.text {
	display: inline-block;
	max-width: 170px;
	overflow: hidden;
	text-overflow: ellipsis;
	margin: 0 0 0 5px;
	white-space: nowrap;
	vertical-align: middle;
	font-size: 14px;
  color: #93c67f;
	&:hover {
		color: #fff;
	}
}
.delete {
	cursor: pointer;
	padding: 0 6px 0 4px;
	text-decoration: none;
	font-size: 15px;
	vertical-align: middle;
	&:hover {
		text-decoration: none;
		color: #F94747;
	}
  > svg {
    height: 1em;
  }
}
