%triple-filter {
  max-width: 180px;
  min-width: 100px;
  >ul {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
    &:after {
      content: '';
      display: table;
      clear: both;
    }
    >li {
      display: block;
      float: left;
      background: #111111;
      border: 1px solid #2C2C2C;
      text-align: center;
      width: 33.333333%;
      position: relative;
      &:before {
        position: absolute;
        display: block;
        content: '';
        width: 1px;
        top: -1px;
        bottom: -1px;
        background: #2C2C2C;
        left: -1px;
      }
      &:first-child {
        border-radius: 4px 0 0 4px;
        border-right: none;
        &:before {
          content: none;
          display: none;
        }
      }
      &:last-child {
        border-radius: 0 4px 4px 0;
        border-left: none;
      }
      button {
        padding: 5px 0;
        display: block;
        margin: 0;
        background: transparent;
        border: 0;
        text-align: center;
        width: 100%;
        font-size: 1em;
        cursor: pointer;
        &, &:hover {
          color: #666;
        }
        &:disabled {
          cursor: default;
        }
      }
    } // li
  } // ul
}

.selected button {
  &, &:hover {
    color: #000 !important;
  }
}

%triple-filter--disabled {
  >ul>li {
    background: #1F1F1F;
  }
}
