.btnRounded {
  color: #666666;
  line-height: normal;
  display: inline-block;
  vertical-align: middle;
  border-radius: 5px;
  box-shadow: #111111 0 0 5px;
  font-size: 12px;
  padding: 2px 5px;
  background: #404040;
  background-image: linear-gradient(to bottom, #404040, #2a2a2a);
  border: 0;
  &, &:link, &:visited {
    color: #838383;
  }
  &:hover, &:active {
    color: #161616;
    background: #cfcfcf;
    background-image: linear-gradient(to bottom, #cfcfcf, #9c9c9c);
  }
  &:focus {
    outline: none;
  }
}