.host {
  background: #141414;
  border: 1px solid #323232;
  border-left: none;
  border-right: none;
  height: 220px;
  margin-top: 5px;
  overflow: hidden;
  position: relative;
}
.left, .right {
  height: 220px;
  position: absolute;
  top: 0;
  width: 120px;
  >a {
    display: block;
    height: 220px;
    padding: 90px 0 0 30px;
    width: 80px;
    &:before {
      display: none;
      content: '';
      background: url("./gui.png");
      height: 37px;
      width: 32px;
    }
    &:hover:before {
      display: block;
    }
  }
}
.left {
  background-image: linear-gradient(to right, rgba(30,30,30,1), rgba(255,255,255,0));
  left: 0;
  >a:before {
    background-position: -230px -104px;
  }
}
.right {
  background-image: linear-gradient(to right, rgba(255,255,255,0), rgba(30,30,30,1));
  right: 0;
  >a:before {
    background-position: -264px -104px;
  }
}
.content {
  min-width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  >li {
    display: block;
    float: left;
    height: 100%;
    >a {
      display: block;
      >img {
        display: block;
      }
    }
  }
}