.colorPicker {
  display: block;
}
.row {
  display: flex;
  & + .row {
    margin-top: 5px;
  }
}
.cell {
  width: 20px;
  height: 20px;
  background: white;
  cursor: pointer;
  & + .cell {
    margin-left: 5px;
  }
}
