.userbar {
  background: #131313;
  border-bottom: 1px solid #1A1A1A;
  font-size: 1.4;
  height: 36px;
  z-index: 999;
  white-space: nowrap;
}
.container {
  margin: 0 auto;
  max-width: 980px;
  padding: 0 15px;
  &.wide {
    margin-left: 0;
    margin-right: 0;
    max-width: none;
  }
}
.commands {
  position: relative;
  float: right;
}
.greating, .link {
  padding: 0 12px;
  line-height: 34px;
}
.greeting {
  display: none;
  margin-right: 1em;
  @media (min-width: 600px) {
    display: inline-block;
  }
}
.greetingIcon {
  display: inline-block;
  height: 1em;
  width: 1em;
  line-height: 1;
  vertical-align: middle;
  color: #323232;
  margin-right: 15px;
  > svg {
    display: block;
    width: 100%;
    height: 100%;
  }
}
.link {
  display: inline-block;
  margin: 0;
  padding: 0;
  border: 0;
  border-left: 1px solid #1E1E1E;
  background: transparent;
  outline: none;
  font-size: inherit;
  cursor: pointer;
  &, &:visited {
    color: #686868;
  }
  &:hover {
    color: #fff;
  }
}
.loading {
  display: inline-block;
  margin: 0 15px 0 0;
  height: 30px;
  line-height: 30px;
  position: relative;
  vertical-align: middle;
}
@keyframes rotate {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.spinner {
  height: 16px;
  animation: rotate 1s linear 0s infinite normal forwards;
}
