.host {
  list-style: none;
  padding: 0;
  margin: 0;
}
.item {
  display: block;
  margin: 0;
  border-top: 0px solid #1E1E1E;
  color: #999;
  display: block;
  font-size: 1.4rem;
  padding: 5px 10px;
  cursor: pointer;
  &:hover {
    color: #ccc;
  }
  &.selected {
    color: #fff;
  }
}
