.alert {
  background: #121212;
  margin-bottom: 20px;
  border-radius: 2px;
  display: flex;
  align-items: stretch;
}
.withIcon {
  padding: 0;
}
.icon {
  flex: 0 1 auto;
  display: flex;
  align-items: center;
  color: #CC5A5A;
  padding: 15px 0 15px 15px;
  font-size: 0;
  line-height: 1;
  @at-root .success & {
    color: #3caa3d;
  }
  @at-root .info & {
    color: #2bb8f3;
  }
  > svg {
    height: 16px;
  }
}
.iconLarge {
  font-size: 40px;
}
.content {
  flex: 1 1 auto;
  padding: 15px;
  text-align: left;
}
